In [77]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [78]:
from tensorflow.keras.models import load_model
import joblib  # instead of pickle

# Load trained model
model = load_model('model.h5')

# Load all encoders and scaler using joblib
label_encoder_gender = joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/label_encoder_gender.pkl")
label_encoder_overtime = joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/label_encoder_overtime.pkl")
label_encoder_remote_work= joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/label_encoder_remote_work.pkl")
label_encoder_leadership_opportunities = joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/label_encoder_leadership_opportunities.pkl")
label_encoder_innovation_opportunities = joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/label_encoder_innovation_opportunities.pkl")
onehot_encoder = joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/onehot_encoder_company_size_job_role_work-life_balance_job_satisfaction_performance_rating_education_level_marital_status_job_level_company_reputation_employee_recognition.pkl")
scaler = joblib.load("C:/Users/Nitesh/Downloads/AI Tests/Projects/ANNClassification/scaler.pkl")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [79]:
sample_data = pd.DataFrame([{
    'Age': 36,
    'Gender': 'Male',
    'Years at Company': 13,
    'Job Role': 'Healthcare',
    'Monthly Income': 8029,
    'Work-Life Balance': 'Excellent',
    'Job Satisfaction': 'High',
    'Performance Rating': 'Average',
    'Number of Promotions': 1,
    'Overtime': 'Yes',
    'Distance from Home': 83,
    'Education Level': "Master’s Degree",
    'Marital Status': 'Married',
    'Number of Dependents': 1,
    'Job Level': 'Mid',
    'Company Size': 'Large',
    'Company Tenure': 22,
    'Remote Work': 'No',
    'Leadership Opportunities': 'No',
    'Innovation Opportunities': 'No',
    'Company Reputation': 'Poor',
    'Employee Recognition': 'Medium'
}])

sample_data

,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,Overtime,...,Marital Status,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition
0,36,Male,13,Healthcare,8029,Excellent,High,Average,1,Yes,...,Married,1,Mid,Large,22,No,No,No,Poor,Medium

In [80]:
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder


# Example: if your DataFrame is called 'data'
columns_to_encode = ['Gender', 'Overtime', 'Remote Work', 'Leadership Opportunities', 'Innovation Opportunities']

# Apply LabelEncoder to each column
'''for col in columns_to_encode:
    le = LabelEncoder()
    sample_data[col] = le.fit_transform(sample_data[col]) '''

for col in columns_to_encode:
    encoder = joblib.load(f'label_encoder_{col.lower().replace(" ", "_")}.pkl')
    sample_data[col] = encoder.transform(sample_data[col])

sample_data

,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,Overtime,...,Marital Status,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition
0,36,1,13,Healthcare,8029,Excellent,High,Average,1,1,...,Married,1,Mid,Large,22,0,0,0,Poor,Medium

In [81]:

# ✅ Categorical columns used during training
columns_to_encode = [
    'Company Size', 'Job Role', 'Work-Life Balance', 'Job Satisfaction',
    'Performance Rating', 'Education Level', 'Marital Status',
    'Job Level', 'Company Reputation', 'Employee Recognition'
]

# ✅ Step 3: Use transform (not fit_transform) since encoder is pre-fitted
encoded_array = onehot_encoder.transform(sample_data[columns_to_encode])

# ✅ Step 4: Create DataFrame with encoded column names
encoded_df = pd.DataFrame(
    encoded_array,
    columns=onehot_encoder.get_feature_names_out(columns_to_encode),
    index=sample_data.index  # ✅ Align index directly here
)

# ✅ Step 6: Drop original categorical columns and merge encoded features
sample_encoded = pd.concat([sample_data.drop(columns=columns_to_encode), encoded_df], axis=1)

# ✅ Step 7: Show result
print("✅ Final Encoded DataFrame:")
print(sample_encoded.head())

✅ Final Encoded DataFrame:
   Age  Gender  Years at Company  Monthly Income  Number of Promotions  \
0   36       1                13            8029                     1

   Overtime  Distance from Home  Number of Dependents  Company Tenure  \
0         1                  83                     1              22

   Remote Work  ...  Job Level_Mid  Job Level_Senior  \
0            0  ...            1.0               0.0

   Company Reputation_Excellent  Company Reputation_Fair  \
0                           0.0                      0.0

   Company Reputation_Good  Company Reputation_Poor  \
0                      0.0                      1.0

   Employee Recognition_High  Employee Recognition_Low  \
0                        0.0                       0.0

   Employee Recognition_Medium  Employee Recognition_Very High
0                          1.0                             0.0

[1 rows x 51 columns]

In [82]:
## Scaling the data

input_scaled =scaler.transform(sample_encoded)
input_scaled

array([[-0.1988179 ,  0.921214  , -0.23561322,  0.34645387,  0.16952517,
         1.4345656 ,  1.14706629, -0.42384362, -1.32689829, -0.48527232,
        -0.23103193, -0.4391298 ,  1.99477178, -1.00673408, -0.64812186,
        -0.5215452 , -0.39687065,  1.82005232, -0.43695328, -0.58949274,
         2.10723472, -0.65413066, -0.77806632, -0.40251694,  0.99983223,
        -0.34456292, -0.48962188, -0.50065533,  0.82451174, -0.41773191,
        -0.50628429, -0.23443681, -0.5782544 , -0.65923365, -0.49041176,
         1.98337461, -0.22921307, -0.42091292,  0.99314431, -0.72745129,
        -0.80569363,  1.23075909, -0.51359796, -0.33006116, -0.50170349,
        -0.99297768,  1.97415511, -0.57554201, -0.79975925,  1.47861889,
        -0.22264984]])

In [83]:
prediction= model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 69ms/step

array([[0.534214]], dtype=float32)

In [84]:
prediction_proba=prediction[0][0]
prediction_proba

0.534214

In [85]:
if prediction_proba > 0.50:
    print("Employee stayed")
else:
    print("Employee left")

Employee stayed